@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-coast {
  background-image: linear-gradient(rgba(15, 23, 42, 0.8), rgba(15, 23, 42, 0.7)), url('https://images.unsplash.com/photo-1505118380757-91f5f5832de0?auto=format&fit=crop&q=80&w=1920');
  background-size: cover;
  background-position: center;
}
