.wave-separator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 3;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.wave-separator svg {
  position: relative;
  display: block;
}

.wave-separator .shape-fill {
  fill: #f8fafc;
}

@keyframes flow {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animated-wave {
  width: 200%;
  animation: flow 80s linear infinite;
}
